1. Все функции вынесены в отдельный модуль и в DAG файле только сама структура графа (директория модулей должна быть в PATH)
    
    Функции вынесены в папку lib/functions.py, настройки в lib/settings.py

2. Отказ от работы с локальными файлами: 
    - сначала скачанный датасет пушится в XCom (он весит ~50 КБ)
    - затем он пуллится из XCom и передается двум преобразованиям (pivot и mean_fare)
    <img src="../images/HW/XCOM.png" style="width: 600px;">

3. Результаты преобразований записываются в две таблицы локальной базы PostgreSQL (Connections+Hooks или psycopg2/sqlalchemy).

In [15]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

engine = create_engine('postgresql://natalie:natalie@localhost:5432/titanic_bd')
df = pd.read_sql_query('SELECT * FROM titanic_pivot',con=engine)
df2 = pd.read_sql_query('SELECT * FROM titanic_mean_fare',con=engine)

print("titanic_pivot:", end ="\n\n")
print(df, end ="\n\n")
print("titanic_mean_fare:", end ="\n\n")
print(df2)

titanic_pivot:

   index     Sex    1    2    3
0      0  female   94   76  144
1      1    male  122  108  343

titanic_mean_fare:

   Pclass       Fare
0       1  84.154687
1       2  20.662183
2       3  13.707707

4. Имена таблиц в PostgreSQL заданы в Variables
<img src="../images/HW/variables.png" style="width: 600px;">